<%= form_with model: @alarm  do |form| %>
  <div>
    <%= form.label :label, class: "form-label" %><br>
    <%= form.text_field :label, class: "form-control" %>
    <%= form.label :time, class: "form-label mt-4" %><br>
    <%= form.time_field :time, :value => DateTime.now.strftime('%H:%M'), class: "form-control"%>
    <%= form.label "Days", class: "form-label mt-4" %><br>
    <% Date::DAYNAMES.each do |day| %>
      <%= form.check_box :days, { multiple: true }, day, false %>
      <%= day %>
    <% end %>
  </div> 
  <div>
    <%= form.submit class: "btn btn-primary my-4" %>
  </div>
<% end %>


