<%= form_with model: [@user, @alarm]  do |form| %>
  <div>
    <%= form.label :label %><br>
    <%= form.text_field :label %>
  </div>

  <div>
    <%= form.label :time %><br>
    <%= form.datetime_field :time %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
