<h1>Alarms</h1>
<%= link_to "New Alarm", new_alarm_path %>
<h3>All my alarms</h3>
<ol>
  <% @alarms.each do |alarm|  %>
  <li>
    Label: <%= alarm.label %><br>
    Time: <%= alarm.format_time %><br>
    Days: <%= alarm.days.join(', ') %>
    <%= button_to 'Remove alarm', alarm_path(alarm), method: :delete %>
    <%= button_to 'Update alarm', edit_alarm_path(alarm), method: :get %>
  </li>
  <% end %>
</ol>
<%= link_to 'Back to Home', root_path %>
