<h1>Alarms</h1>
<% if flash[:notification] %>
  <p>Tu alarma esta sonando</p>
<% end %>
<%= link_to "New Alarm", new_user_alarm_path %>
<h3>All my alarms</h3>
<ul>
  <% @alarms.each_with_index do |alarm, index|  %>
  <li>
    <%= index + 1  %>. <%= alarm.label %> - <%= alarm.time %> </li>
  </li>
    <%= button_to 'Update alarm', edit_user_alarm_path(current_user, alarm), method: :get %>
    <%= button_to 'Remove alarm', user_alarm_path(current_user, alarm), method: :delete %>
  <% end %>
</ul>
<%= link_to 'Back to Home', root_path %>
