<h1>Stopwatches</h1>
<ul>
  <% @stopwatches.each do |stopwatch| %>
    <li>
      <%= stopwatch.label  %>: <%= stopwatch.time %>. Date: <%= stopwatch.created_at.strftime('%FT%T') %>
    </li>
    <%= button_to 'Remove stopwatch record', user_stopwatch_path(current_user, stopwatch), method: :delete %>
  <% end %>
</ul>
<%= link_to 'Back to Home', root_path %>
